.container {
  width: 1150px;
  margin: auto; /* Căn giữa cho container */
  padding-top: 25px;
  height: 995px;
}

.searchPage {
  max-width: 1248px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 0;
  color: #000;
}
